[Unit]
Description=Binance Liquidity Paper Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/btc_liquidity_paper_bot_v0_4_cloud
ExecStart=/usr/bin/python3 /opt/btc_liquidity_paper_bot_v0_4_cloud/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
